.main-content {
    &__h1 {
        font-family: 'Lato', sans-serif;
    }


    &__text {
        font-family: 'Roboto Slab', serif;
    }
}
.btn-text {
    font-family: 'Lato', sans-serif;
}

.main-content__h1, .btn-text {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}