.main-content {
    &__h1 {
        font-family: 'Lato', sans-serif;
    }


    &__text {
        font-family: 'Roboto Slab', serif;
    }
}
.btn-text {
    font-family: 'Lato', sans-serif;
}

.main-content__h1, .btn-text, h1, h2 {
    text-transform: uppercase;
}
